<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="central">Formulario de Registro de Estudiante</h1>

    <div>
        <form method='post' action="/registro">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="idNombre" required>
            <br>
            <label for="apellido">Apellidos:</label>
            <input type="text" name="apellido" id="idApellido" required>
            <br>
            <label for="edad">Edad:</label>
            <input type="text" name="edad" id="idEdad" required>
            <br>
            <input type="submit" value="Enviar">
        </form>
    </div>
    
</body>
</html>