<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registro</title>
</head>
<body>
	<h1 align="center" style="color:blue">Registro Estudiantes</h1>
	<hr>
	<div>
		<br>
		<h2>Formulario</h3>
		<br>
		<br>
	</div>
	<div>
		<form method='post' action="/registro">
		<label for="nombre">Nombre:</label>
		<input id="idNombre"type="text" name="nombre" required>
		<br>
		<label for="apellido">Apellido:</label>
		<input id="idApellido" type="text" name="apellido" required>
		<br>
		<label for="edad">Edad:</label>
		<input id="idEdad" type="text" name="edad" required>
		<br>
		<input type="submit" value="Enviar">
		</form>
	</div>

</body>
</html>